.header {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
  }

  a {
    position: absolute;
    color: white;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }

  h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1.15;
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      font-size: 96px;
    }

    span {
      display: block;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    height: 30vh;

    img {
      width: 100%;
    }

    h1 {
      font-size: 50px;

      &:hover {
        font-size: 60px;
      }
    }
  }
}
