.layout {
  background: #2b2b2b;
  border: 30px solid #ec8323;
  color: white;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .layout {
    border: 20px solid #ec8323;
  }
}
