@font-face {
  font-family: Flabby;
  src: url("../fonts/Flabby_Bums_handwriting.ttf");
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: Flabby;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media (min-width: 700px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
