@font-face {
  font-family: Flabby;
  src: url("../fonts/Flabby_Bums_handwriting.ttf");
}

@import "./colors.scss";

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
  font-family: Flabby;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page-title {
  margin-top: 20px;
  color: $yellow;
  text-align: center;
}

.bodyContainer {
  padding: 40px 0;
}

@media (min-width: 700px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .bodyContainer {
    padding: 100px 60px;
  }

  .contact {
    margin-top: 20px;
    font-size: 1.4rem;
  }
}

.contact {
  margin-top: 20px;
}
